body
{
background-color:blue;
}
.form-control{
width:50%;
}

nav{
font-weight:bold;
}

a{
text-decoration:none;
}

a:hover{
color:green;
font-weight:bold;
}

.table{
width:50%;
}

.view-table{
width:100%;
}

